/* ------------ Globals ------------ */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  color: black;

  margin: 0px;
}

a {
  color: black;
}

/*<--------------- underline ----------------->*/


/*<--------------- helpers ----------------->*/

/* ------------ nav ------------ */
.navbar-left {
  float: left;
  margin-bottom: 20px;
}
.navbar-left a {
  height: 50px;
  padding: 15px 15px;
}
#header {
  margin: 20px 20px;
}

.top-navbar a {
  text-decoration: none;
}

.navbar-right ul {
  list-style: none;
  padding:0;
  margin:0;
}
.navbar-right-links  li {
  display: inline-block;
  float: right;
  margin: auto 20px;

}
/* ------------ footer ------------ */
.footer {
    width: 100%;
    float: left;
    text-align: center;
}
.footer ul li {
  text-decoration: none;
  padding: 0px 10px;
  display: inline-block;
}
.footer ul li a {
  text-decoration: none;
}

/* ------------ home ------------ */

#home-image {
  /* max-width: 960px; */

}



.main-image img {
  margin-top: -200px;
  width: 100%;
}



.links-container ul {

  text-align: center;
}

.links-container li {
  padding: 0px 10px;
  display: inline-block;
}

.links-container a {
  text-decoration: none;
}
/* ------------ portfolio ------------ */
#home-portfolio {

  width: 80%;
margin: 0px auto;
}
.row {


}

.column {
  display: inline-block;
  max-width: 100%;
}
/* .row:before,
 .row:after {
     content:"";
     display: table ;
     clear:both;
 } */
.portfolio-item {
  padding: 5px;


}
.image a {
    width: 250px;
    height: 250px;

    display: block;

}

.image-text {
    letter-spacing: 1.33px;
    position: absolute;
    color: white;
    left: 0;
    top: 70%;
    right: 0;
    bottom: 0;
    font-size: 24px;
    text-align: center;
    opacity: 0;
}

/* ------------ Img Block ------------ */

/* ------------------------- */

/* ------------------------- */

/* ------------ about ------------ */


/* ------------------------- */


/* ------------ projects ------------ */




/* ------------ Header ------------ */



/* ------------------------- */

/* ------------ packery ------------ */

/* ------------ overlay ------------ */
.
/* ------------ iPhone screen ------------ */
@media only screen and (max-device-width: 400px){



@media only screen and (max-device-width: 750px){



@media only screen and (max-device-width: 1080px){
