/* <----------------- variables ---------------> */
:root {
  --grey-1-color:	#D3D3D3;
  --grey-2-color:	#C0C0C0;
  --grey-3-color:	#A9A9A9;
  --grey-4-color:	#808080;

}

/* <----------------- end variables ---------------> */
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
}
a {
  color: black;
  list-style-type: none;
  text-decoration: none;
}

/* <----------------- colors ---------------> */


/* <----------------- end colors ---------------> */
.col-half {
  width: 50%;
}
.header {

}
.wrapper-nav {
  max-width: 1200px;
  margin: 0px auto;
}
.navbar-container {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;

}
.navbar-right {
  display: flex;

}
.navbar-logo img {
  height: 40px;
}
.hamburger {
  display: none;
}
.wrapper {
  margin: 0px 50px;
}
.service-section {
  margin: 0px -50px;
  background-color: var(  --grey-1-color);
}
.service-icon {
  font-size: 50px;
}
.serivice-header {
  text-align: center;
}
.services {
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.service-text h2 {
  width: 150px;
}
.cover-image img {
  width: 100%;
  display: flex;
}
.about-section {
  text-align: center;
}
.about-header {

}
.about-header h1 {
  margin: 0px;
}
.bio {
  display: flex;
  align-items: center;
}
.bio-image {
  width: 200px;
  height: 100%;
}
.navbar-links ul {
  display: flex;
  list-style-type: none;
}
.navbar-links li {
  padding:0px 10px;
}
@media screen and (max-width: 600px) {
  body,html {
    margin: 0px;
    padding: 0px;
  }
  .navbar-container {
    display: flex;
    align-items: center;
    flex-flow:wrap;
    padding:0;

  }

  .navbar-logo {
    height: 40px;
    display: flex;
    align-items: center;
  }
  .navbar-links {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .navbar-links ul {
    flex-direction: column;
    align-items: flex-end;
    background-color: darkgrey;
    list-style-type: none;

  }
  .navbar-links li {
    padding: 10px;
  }
  .hamburger {
    margin: 0px;
    display: flex;
    width: 100%;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    flex: 2;
  }
  .hamburger a {
    padding:0px;
  }
  .hamburger  img {
    display: flex;
    width: 40px;
    height: 100%;

    cursor: pointer;
  }
  .hide {
    display: none;
  }
  .cover-image img {
    width: 100%;
  }
  .service-section {
    text-align: center;
  }
}
