body {
  margin: 0px;
  padding: 0px;
}
a {
  list-style-type: none;
  text-decoration: none;
}
.header {

}
.navbar-container {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;

}
.navbar-right {
  display: flex;

}
.navbar-logo img {
  height: 40px;
}
.hamburger {
  display: none;
}
.service-section {

}
.serivice-header {
  text-align: center;
}
.services {
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.cover-image img {
  width: 100%;
  display: flex;
}
.about-section {
  text-align: center;
}
.about-header {

}
.about-header h1 {
  margin: 0px;
}
.navbar-links ul {
  display: flex;
  list-style-type: none;
}
.navbar-links li {
  padding:0px 10px;
}
@media screen and (max-width: 600px) {
  body,html {
    margin: 0px;
    padding: 0px;
  }
  .navbar-container {
    display: flex;
    align-items: center;
    flex-flow:wrap;
    padding:0;

  }

  .navbar-logo {
    height: 40px;
    display: flex;
    align-items: center;
  }
  .navbar-links {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .navbar-links ul {
    flex-direction: column;
    align-items: flex-end;
    background-color: darkgrey;
    list-style-type: none;

  }
  .navbar-links li {
    padding: 10px;
  }
  .hamburger {
    margin: 0px;
    display: flex;
    width: 100%;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    flex: 2;
  }
  .hamburger a {
    padding:0px;
  }
  .hamburger  img {
    display: flex;
    width: 40px;
    height: 100%;

    cursor: pointer;
  }
  .hide {
    display: none;
  }
  .cover-image img {
    width: 100%;
  }
  .service-section {
    text-align: center;
  }
}
